body{
    margin-left: 2%;
    background-color:#f8f8f8;
    margin-right: 2%;
}

header{ /*cabeçalho da pagina */
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color:#f8f8f8;

}

p{
    font-family: serif;
    font-size: 3.5vh;
}

h3{
    font-family: serif;
    font-weight: bold;
    font-size: 6vh;

}

h4{
    font-family: serif;
    font-size:4vh;
}

.logo-img{ /*Imagem do inicio do site LOGO PRINCIPAL*/
    width: 20vw;
    transition: 500ms;
}

.logo-img:hover{
    transform: scale(1.1);
}

.barra-destaque{ /* barra GERAL dos botoes  */
    display: flex;
    flex-direction: row;
    background-color:#d8c3ba;
    align-items: center;
    border-radius: 0.5vw;
}

.color1 {color: #d8c3ba;}
.color2 {color: #bcbb8d;}
.color3 {color: #0f020a;}
.color4 {color: #807675;}
.color5 {color: #f8f8f8;}


.company-title{ /* Nome da empresa no cabeçalho */
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

#div-geral{
    display: flex;
    flex-direction: row;
}


                                            /*BARRA DE BOTOES*/

.titulos-barra{ /*div de cada botao*/
    margin-left: 2%;
}

.barra-destaque{
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.botao-barra{ /*Botoes da barra principal*/
    height: 7vh;
    background-color: #d8c3ba;
    border-color: #d8c3ba;
    border:#d8c3ba;
    border-radius: 0.5vw;
    transition: 300ms;
}

.botao-barra:hover{
    background-color: #b39f97;
    transform: scale(1.1);
}

.botao-texto{
    font-size: 4vh;
}

.img-principal{
    margin-top: 1vh;
    height: auto;
    width: 94.78vw;
}

                                            /* NOSS0 ESCRIT0RIO - AtUAÇÃO JUNÇÃO*/

.somos-atuacao{
    display: flex;
    flex-direction: column;
}


                                            /* NOSS0 ESCRIT0RIO */

.section-description{/*Section geral da Descrição NOSSO ESCRITORIO*/
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
}

.titulo{ 
    margin-top: 8vh; 
}

.tracinho-horizontal{
    background-color: #d8c3ba;
    height: 1vh;
    width: 100vw;
    border-radius: 1vh;
}

.texto-img{ /*Div que junta texto e imagem*/
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.texto-nosso{
    margin-left: 2%;
}

.botao-no{
    height: 7vh;
    background-color: #d8c3ba;
    border-color: #d8c3ba;
    border:#d8c3ba;
    border-radius: 0.5vw;
    font-size: 4vh;
    font-family: serif;
}

.botao-somos{
    padding-left: 70%;
}

.img-description{ /*Imagem que acompanha a descriçao*/
    max-width: 20vw;
    width: auto;
    height: auto;
    border-radius: 4%;

}

                                            /* AREA DE ATUAÇAO */

.img-atua{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vh;
    width: 14vw;
    height: auto;
    transition: 2s;
} 

.img-atua:hover{
    transform: scale(1.1);
}
.icones-geral{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.icone-atua{
    display: flex;
    flex-direction: column;
}

.tracinho-vertical{ 
    margin-top: 9vh;
    background-color: #d8c3ba;
    height: auto;
    width: 1%;
    border-radius: 1vh;
    margin-right: 2vh;
}

.geral-atua{
    display: flex;
    flex-direction: row;

}



                                            /* Social-Navigate JUNÇÃO*/


.social-navigate{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

                                            /* Social*/

.video{
    height: 35vh;
    width: auto;
}

.botao-social{
    height: 5vh;
    background-color: #d8c3ba;
    border-color: #d8c3ba;
    border:#d8c3ba;
    border-radius: 0.5vw;
    font-size: 3vh;
    font-family: serif;
}


                                            /* Artigos*/

.imagem-desc{
    min-height: 30vh;
    max-height: 30vh;
    min-width: 30vw;
    max-width: 30vw;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}

.artigo{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    background-color: #d3d3d350;
    border-radius: 1vh;
    min-width: 30vw;
    max-width: 30vw;
    
}

.artigo-texto{
    padding-bottom: 1vh;
}

.artigos-geral{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo-artigo{
    margin-top: 1vh;
    font-family: serif;
    font-weight: bold;
    font-size: 4vh;
    padding-left: 1vw;
}

.texto-artigo{
    margin-top: 2vh;
    word-break: normal;
    padding-left: 1vw;
    font-size: 2.5vh;
    margin-left: 1vh;
}

.saiba{
    margin-top: 2vh;
    font-size: 2.5vh;
    text-decoration: underline;
    padding-left: 5%;
}

                                            /* FORMULARIO */

.titulo-form{
    margin-top: 9vh;
    margin-left: 2vh;
    padding-top: 2vh;
}

.bloco-form{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    padding: 2vh;
    background-color: #d3d3d350;
    height: 45vh;
    border-radius: 2vh;
}

.atend{
    margin-top: 8vh;
    font-size: 4vh;
    color: #443f3d;
    font-weight: bold;
    margin-left: 2vh;
}

.desc-form{
    width: 35vw;
    margin-top: 2vh;
    font-size: 3vh;
    color: rgb(153, 111, 117);
}



.form-texto{
    width: 50vw;
    margin-left: 4vh;
}

.form{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
}

.nome-tel{
    display: flex;
    flex-direction: row;
}

.nome-texto, .tel-texto,.email-texto{
    height: 5vh;
    border-radius: 2vh;
    margin-top: 3vh;
}

.nome-texto{
    width: 25vw;
}

.tel-texto{
    width: 13vw;
    margin-left: 1vw;
}

.email-texto{
    margin-top: 1vh;
    width: 39.55vw;
}

.texto-texto{
    width: 39.55vw;
    margin-top: 2vh;
    height: 20vh;
    border-radius: 2vh;
}

.texto-texto::placeholder{
    position: fixed;
    top: 1vh;
}


                        /*Avaliações*/
.avaliacoes{
    margin-top: 8vh ;
    margin-bottom: 8vh;
}
.content-avaliacao{
    margin-top: 8vh ;
    margin-bottom: 8vh;
   /* height: 70vh;
    width:100%;*/
    background-color: #d3d3d350;
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    padding:4vh;
}
.quadro-avaliacoes{
   
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4vh;
    padding: 4vh;
    border-radius: 2vh;
   
}
.button-avaliacao{
    align-self:flex-end;
    background-color: #d8c3ba;
    border-color: #d8c3ba;
    border: #d8c3ba;
    border-radius: 0.5vw;
    font-size: 3.5vh;
    font-family: serif;
    margin-top: 1vh;
    margin-right: 6vh;
    height: 6vh;
}
.avaliacao{
    flex-grow: 1;
}
.user{
    display:flex;
    align-items:top;
    flex-direction: row;
    padding-left:2vh;
}
.comentario{
    padding-left: 4vh;
}
.p-avaliacao{
    padding-top: 4vh;
    text-align: justify;
    font-size: 2vmax;
}

.estrelas{
    color:black;
    margin-top: 3vh;
}
.novidades{
    align-items: start;
}
.novidades-sobre-editorial{
    display: flex;
}

                    /*NOVIDADES*/


.materia-pai{  
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vh;
    margin-left: 2vh;
    background-color:#d3d3d350;
    padding: 4vh;
    border-radius: 4vh;
}
#barra-separar{
    border-bottom: 0.2vh solid #0f020a;
    margin-bottom: 3vh;
}
#materia-filho{
    display:flex;
    padding-bottom: 2vh;
  
}
.img-materia {
    min-height: 20vh;
    max-height: 20vh;
    min-width: 20vw;
    max-width: 20vw;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}


.materia-keys{
    display:flex;
    justify-content: flex-end;
    margin-left: 4vh;
}

.materia-conteudo{
    margin-left:2vh;
}

.materia .materia-keys{
    margin-bottom: 2vh;
}

.materia-desc{
    font-size:2.5vh;
}
.keys{
    height: 3vh;
    background-color: #d8c3ba;
    border-color: #d8c3ba;
    border: #d8c3ba;
    border-radius: 0.5vw;
    font-size: 3vh;
    text-align: center;
    font-family: serif;
    margin-top: 1vh;
    margin-right: 1vh;
    height: 4vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
}


                /*SOBRE E EDITORIAL*/


.editorial,.sobre{
    background-color:#d3d3d350;
    padding:4vh 4vh 8vh 4vh;
    border-radius: 4vh;
}

.sobre-editorial{
   margin-left:3vh;
}
.sobre-editorial h3{
    margin-bottom: 4vh;
}
.sobre-editorial p{
    margin-bottom: 1vh;
}
.sobre{
    margin-bottom:4vh;
}
.editorial h3{
    margin-top: 4vh;
}

                /*Section Perfil-Missão-Parceiros*/

.titulo-perfil{
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}
.pai-section{
    display:flex;
    width: 100%;
}

.perfil-texto{ /*Primeiraa DIV*/
    flex:1;
    width: 30%;;
}
.perfil-texto p{
    line-height: 2;
    text-align: justify;
}
.missao-ousadia-metodo{
    flex:1;
    width:33.3%
    display:flex;
}
.missao .osadia .metodo{
    height: 33.3%;
}


.parceiros{
    width:33.3%
}

.perfil-texto ol{
    display:flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-left: 2vh;
    background-color:#d3d3d350;
    padding: 4vh 4vh 0vh 4vh;
    border-radius: 4vh;
    font-size: 3vh;
}
.perfil-texto li{
    font-size: 4vh;
    border-left: 1vh solid #807675 ;
    margin-bottom: 8vh;
    border-radius: 0.5vh;
    padding-left: 2vh;
}

                            /*Segunda DIV*/
.missao-ousadia-metodo h3{
    margin-left: 4vh;
}
.missao-ousadia-metodo p{
    line-height: 1.5;
    background-color:#d3d3d350;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 4vh;
    margin-right: 4vh;
    text-align: left;
    padding: 4vh;
    padding-bottom: 5.7vh;
    border-radius: 4vh;
    font-size: 3.1vh;
}

                /*Terceira DIV*/

.parceiro-filho{
    height: 33.3%;
    border:#0f020a;
    
}
.img-parceiro {
    min-height: 30vh;
    max-height: 30vh;
    min-width: 30vw;
    max-width: 30vw;
    border-radius:4vh;
    margin-top: 2.7vh;
}

                /*Footer*/

footer{
    background-color:#d3d3d350;
    display:flex;
    justify-content: center;
    border-radius: 4vh;
}
.icones{
   
    display:flex;
    flex-direction: column;
    margin-left: 4vh;
    padding-bottom: 4vh;
    padding-top: 4vh;
}
.whatsapp-icon,.google-maps-icon,.email-icon,.judge-icon,.instagram-icon {
    font-size: 24px;
    color: #807675;
    margin-top:4vh;
    transition: 0.5s;
}

.whatsapp-icon:hover,.google-maps-icon:hover, .judge-icon:hover, .instagram-icon:hover,.email-icon:hover{
    color:#0f020a;
}
