body{
    margin-left: 2%;
    background-color:#f8f8f8;
    margin-right: 2%;
}

header{ /*cabeçalho da pagina */
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color:#f8f8f8;

}

p{
    font-family: serif;
    font-size: 3.5vh;
}

h3{
    font-family: serif;
    font-weight: bold;
    font-size: 6vh;

}

h4{
    font-family: serif;
}

.logo-img{ /*Imagem do inicio do site LOGO PRINCIPAL*/
    width: 20vw;
}

.barra-destaque{ /* barra GERAL dos botoes  */
    display: flex;
    flex-direction: row;
    background-color:#d8c3ba;
    align-items: center;
    border-radius: 0.5vw;
}

.color1 {color: #d8c3ba;}
.color2 {color: #bcbb8d;}
.color3 {color: #0f020a;}
.color4 {color: #807675;}
.color5 {color: #f8f8f8;}


.company-title{ /* Nome da empresa no cabeçalho */
    display: flex;
    flex-direction: column;
}

#div-geral{
    display: flex;
    flex-direction: row;
}


                                            /*BARRA DE BOTOES*/

.titulos-barra{ /*div de cada botao*/
    margin-left: 2%;
}

.botao-barra{ /*Botoes da barra principal*/
    height: 7vh;
    background-color: #d8c3ba;
    border-color: #d8c3ba;
    border:#d8c3ba;
    border-radius: 0.5vw;
}

.botao-texto{
    font-size: 4vh;
}

.img-principal{
    margin-top: 1vh;
    height: auto;
    width: 94.78vw;
}

                                            /* NOSS0 ESCRIT0RIO - AtUAÇÃO JUNÇÃO*/

.somos-atuacao{
    display: flex;
    flex-direction: column;
}


                                            /* NOSS0 ESCRIT0RIO */

.section-description{/*Section geral da Descrição NOSSO ESCRITORIO*/
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
}

.titulo{ 
    margin-top: 8vh; 
}

.tracinho-horizontal{
    background-color: #d8c3ba;
    height: 2vh;
    width: 100vw;
    border-radius: 1vh;

}

.texto-img{ /*Div que junta texto e imagem*/
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.texto-nosso{
    margin-left: 2%;
}

.botao-no{
    height: 7vh;
    background-color: #d8c3ba;
    border-color: #d8c3ba;
    border:#d8c3ba;
    border-radius: 0.5vw;
    font-size: 4vh;
    font-family: serif;
}

.img-description{ /*Imagem que acompanha a descriçao*/
    max-width: 20vw;
    width: auto;
    height: auto;
    border-radius: 4%;

}

                                            /* AREA DE ATUAÇAO */

.img-atua{
    width: 14vw;
    height: auto;
} 

.icones-geral{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.icone-atua{
    display: flex;
    flex-direction: column;
}

.tracinho-vertical{ 
    margin-top: 9vh;
    background-color: #d8c3ba;
    height: 100vh;
    width: 2vh;
    border-radius: 1vh;
    margin-bottom: 65vh;
    margin-right: 2vh;
}

.geral-atua{
    display: flex;
    flex-direction: row;

}



                                            /* Social-Navigate JUNÇÃO*/


.social-navigate{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

                                            /* Social*/

.video{
    height: 35vh;
    width: auto;
}

.botao-social{
    height: 5vh;
    background-color: #d8c3ba;
    border-color: #d8c3ba;
    border:#d8c3ba;
    border-radius: 0.5vw;
    font-size: 3vh;
    font-family: serif;
}


                                            /* Artigos*/

.imagem-desc{
    min-height: 30vh;
    max-height: 30vh;
    min-width: 30vw;
    max-width: 30vw;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}

.artigo{
    display: flex;
    flex-direction: column;
    background-color: #d4c7c1d2;
    border-radius: 1vh;
    min-width: 30vw;
    max-width: 30vw;
}

.artigos-geral{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.titulo-artigo{
    font-family: serif;
    font-weight: bold;
    font-size: 5vh;
}

.texto-artigo{
    margin-top: 2vh;
    word-break: normal;
}



